.storybook-button {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  color: white;
  background-color: #1ea7fd;
  padding: 1em;
}
